$colortitulos: rgb(255, 160, 122);
$colorcontenido: hsla(0, 0%, 83%, 0.309);
$colorfooter: #414141;
$fondoprincipal1: -webkit-linear-gradient(to right, hsla(28, 85%, 58%, 0.467), hsla(199, 85%, 42%, 0.467));
$fondoprincipal2: linear-gradient(to right, hsla(28, 85%, 58%, 0.467), hsla(199, 85%, 42%, 0.467));