@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:ital,wght@1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  grid-area: header;
}

.contenido {
  grid-area: conte;
}

footer {
  grid-area: footer;
}

.form1 {
  grid-area: form1;
}

.form2 {
  grid-area: form2;
}

@media screen and (max-width: 768px) {
  #grid,
  #grid__prod,
  #grid__nos {
    width: 100%;
    max-width: 768px;
    height: 900px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
        grid-template-areas: "header" "conte" "footer" !important;
  }
  #contenido {
    width: 100%;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .container {
    width: 100%;
    max-width: 768px;
  }
  .hero {
    min-height: 750px;
  }
  .hero__title {
    padding: 10px 10px;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(./Assets/menu.png);
    font-size: 30px;
  }
  .navbar-light .navbar-toggler {
    border-color: lightsalmon;
    color: lightsalmon !important;
  }
  .iframe-container-info {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "info info" "text text";
  }
  .iframe_info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: info;
    width: 100%;
  }
  .container-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: text;
    width: 100%;
  }
  .info-prod {
    height: 10vh;
  }
  .portafolio,
  .staff,
  .tablas,
  .art-parafo {
    padding: 50px;
    background-color: rgba(212, 212, 212, 0.309);
    margin: 40px 20px;
  }
  .galeria-port {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "reclu" "web" "proye";
  }
  .img-reclu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: reclu;
  }
  .img-web {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: web;
  }
  .img-proye {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: proye;
  }
  .img-port > img {
    width: 9rem;
    height: 9rem;
  }
  footer {
    width: 100%;
    height: 250px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    background-color: #414141;
    padding: 30px 0 15px 0;
    margin: auto;
    overflow: hidden;
  }
  .logo-foo {
    width: 30px;
  }
  .container-foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  .content-foo {
    text-align: center;
  }
  .content-foo h5 {
    color: #fff;
    border-bottom: 3px solid lightsalmon;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 0.8rem;
  }
  .link-foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    list-style: none;
  }
  .link-foo a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin: 20px;
    padding: 0 10px 0 10px;
  }
  .titulo-final {
    text-align: center;
    font-size: 1em;
    margin: 20px 0 0 0;
    color: #9e9797;
  }
  .prod-container {
    padding: 15px;
  }
  .title__card {
    font-size: 0.8em;
    text-align: center;
  }
  .cards .card .texto-card p {
    font-size: 0.6em;
    text-align: center;
  }
  .form-section,
  .form-section-conta {
    padding: 35px;
  }
  .form-section-conta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px;
    width: 100%;
    height: 800px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form {
    margin: auto;
    max-width: 300px;
  }
  .form-conta {
    margin: auto;
    max-width: 300px;
  }
  .form-section,
  .form-section-conta {
    padding: 35px;
  }
  .form-section-conta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px;
    width: 100%;
    height: 800px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ol {
    padding: 0;
  }
}

@media screen and (min-width: 769px) {
  #grid,
  #grid__prod,
  #grid__nos {
    width: 100%;
    max-width: 1500px;
    height: 210vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
        grid-template-areas: "header header header" "conte conte conte" "footer footer footer";
  }
  .container {
    width: 100%;
    max-width: 1500px;
  }
  .hero {
    min-height: 700px;
  }
  .hero__title {
    padding: 10px 0;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(./Assets/menu.png);
    font-size: 30px;
  }
  .navbar-light .navbar-toggler {
    border-color: lightsalmon;
    color: lightsalmon !important;
  }
  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-collapse {
    -webkit-box-flex: inherit;
        -ms-flex-positive: inherit;
            flex-grow: inherit;
  }
  .navbar-brand {
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff !important;
  }
  #contenido {
    width: 100%;
    max-width: 1500px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: conte;
  }
  .iframe-container-info {
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .iframe_info {
    width: 45%;
  }
  .info-prod {
    height: 15vh;
  }
  .container-text {
    width: 40%;
  }
  .container-text h3 {
    font-size: 1.5rem;
  }
  .galeria-port {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .img-port {
    width: 45%;
    margin: 20px;
  }
  .img-port > img {
    width: 9rem;
    height: 9rem;
  }
  footer {
    width: 100%;
    background-color: #414141;
    padding: 30px 0 15px 0;
    margin: auto;
    overflow: hidden;
  }
  .logo-foo {
    width: 40px;
  }
  .container-foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  .content-foo {
    text-align: center;
  }
  .content-foo h5 {
    color: #fff;
    border-bottom: 3px solid lightsalmon;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  .link-foo {
    text-align: center;
    list-style: none;
  }
  .link-foo a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin: 20px;
    padding: 0 60px 0 60px;
  }
  .titulo-final {
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: #9e9797;
  }
  .prod-container {
    padding: 40px;
  }
  .staff {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cards .card .texto-card p {
    font-weight: 200;
    padding-top: 5px;
    font-size: 1em !important;
  }
  .form {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .form-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-auto-flow: row;
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 80px;
  }
  .form-section-conta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-auto-flow: column;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 900px;
    margin-top: 8%;
  }
  .form-conta {
    width: 30%;
    margin: 10px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .container-fluid {
    width: 100%;
  }
}

.container {
  width: 100%;
  padding: 60px auto;
  margin: auto 0;
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero__container {
  max-width: 1500px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0.3em;
  margin-top: 50px;
  padding-bottom: 20%;
  text-align: center;
}

.hero__title {
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}

.hero__parrafo {
  margin: 15px;
  font-size: 1.3em;
  text-align: center;
  font-weight: 100;
}

nav {
  width: 100%;
  max-width: 1500px;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.bg-light {
  background-color: inherit !important;
}

.nav-link,
.nav-link--active {
  text-decoration: none;
  font-weight: 300;
  margin-right: 10px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}

.navbar-brand {
  font-weight: 500;
  padding: 10px;
  font-size: 1.5rem;
  color: #fff !important;
}

#index {
  background: -webkit-gradient(linear, left top, right top, from(rgba(239, 142, 57, 0.467)), to(rgba(16, 140, 198, 0.467))), url(./Assets/portada.jpg);
  background: linear-gradient(to right, rgba(239, 142, 57, 0.467), rgba(16, 140, 198, 0.467)), url(./Assets/portada.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.wawe {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.titulo {
  color: lightsalmon;
  font-size: 1.5rem;
  text-align: center;
  padding: 30px;
}

/* iframe */
.iframe-container-info {
  width: 100%;
  background-color: rgba(212, 212, 212, 0.309);
}

.iframe_info {
  padding: 40px;
}

.container-text {
  padding: 40px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container-text h3 {
  margin-bottom: 15px;
}

.container-text h3 span {
  background: cornflowerblue;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.479);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.479);
  margin-right: 5px;
}

.container-text h3 span p {
  padding: 20px 0px 10px 15px;
  font-weight: 300;
  text-align: justify;
}

/* portafolio */
.portafolio,
.staff,
.tablas,
.art-parafo {
  padding: 30px;
  background-color: rgba(212, 212, 212, 0.309);
  margin: 10px;
}

.img-port > img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.452);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.452);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
}

.text-port {
  padding: 30px 0px 30px 0px;
  font-weight: 300;
  text-align: justify;
  font-size: 0.8em;
}

/* Productos */
#productos {
  background: -webkit-gradient(linear, left top, right top, from(rgba(239, 142, 57, 0.467)), to(rgba(16, 140, 198, 0.467))), url(./Assets/codigohtml.jpg);
  background: linear-gradient(to right, rgba(239, 142, 57, 0.467), rgba(16, 140, 198, 0.467)), url(./Assets/codigohtml.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.info-prod {
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(159, 138, 208, 0.289)), to(rgba(0, 91, 209, 0.344))), url(./Assets/engineering.jpg);
  background-image: linear-gradient(to top, rgba(159, 138, 208, 0.289) 0%, rgba(0, 91, 209, 0.344)), url(./Assets/engineering.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.prod-container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: inherit;
  gap: 2em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prod-items {
  list-style: none;
}

.prod-links {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.prod-links :hover {
  text-decoration: underline;
}

.titulo-staff {
  color: lightsalmon;
  text-align: center;
  margin: 40px;
  font-weight: 500;
}

.estilo-staff {
  padding: 0px;
  font-weight: 300;
  text-align: center;
  list-style: none;
}

.tablas table {
  width: 100%;
  margin: o auto;
  text-align: center;
  font-weight: 300;
  padding: 40px;
}

/* sobre nosotros */
#nosotros {
  background: -webkit-gradient(linear, left top, right top, from(rgba(239, 142, 57, 0.467)), to(rgba(16, 140, 198, 0.467))), url(./Assets/sobrenosotros.jpg);
  background: linear-gradient(to right, rgba(239, 142, 57, 0.467), rgba(16, 140, 198, 0.467)), url(./Assets/sobrenosotros.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.art-parafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: justify;
  font-weight: 300;
  margin: 0;
  padding: 30px;
  font-size: 1em;
}

.socios {
  width: 100%;
  height: 400px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

.cards .card {
  background: #799cdd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
  height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.466) !important;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.466) !important;
}

.cards .card img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.texto-card {
  width: 60%;
  color: #fff;
}

#cuenta,
#contactos {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(239, 142, 57, 0.467)), to(rgba(16, 140, 198, 0.467))), url(./Assets/datacenter1.jpg);
  background: linear-gradient(to right, rgba(239, 142, 57, 0.467), rgba(16, 140, 198, 0.467)), url(./Assets/datacenter1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relatiave;
}

.form,
.form-conta {
  border-radius: 1em;
  padding: 3em 2.5em;
  background-color: rgba(212, 212, 212, 0.309);
  margin: 30px 20px;
}

.form-conta {
  margin-top: 10px;
}

.form-container,
.form-container-conta {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  color: #fff;
}

.text-form1,
.text-form1-conta {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .4em;
  font-weight: 300;
  color: inherit;
}

.text-form2 {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: .4em;
  font-weight: 300;
}

.form-submit,
.form-submit-conta {
  font-family: inherit;
  background-color: lightsalmon;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: 0.5em 0;
  border-radius: 0.2em;
  cursor: pointer;
}

.form-input,
.form-input-conta {
  font-family: inherit;
  font-size: .9rem;
  padding: 0.3rem 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}

.form-input--message {
  resize: none;
  padding: 2.8em 1em;
  margin-bottom: 0.5em;
  text-align: justify;
}

.form-label,
.form-label-conta {
  font-family: inherit;
  font-size: .8rem;
  padding: 0.3rem 1em;
}

ol,
ul {
  padding: 0 !important;
}
/*# sourceMappingURL=style.css.map */